In [2]:
import pandas as pd

In [3]:
resident = pd.read_csv('C:/Users/bhg/Desktop/2022빅콘/2022빅콘테스트_데이터분석리그_데이터분석분야_챔피언부문_데이터셋_220908/1.ev_app_resident.csv')
activity = pd.read_csv('C:/Users/bhg/Desktop/2022빅콘/2022빅콘테스트_데이터분석리그_데이터분석분야_챔피언부문_데이터셋_220908/2.ev_app_activity.csv')
activity_resident = pd.read_csv('C:/Users/bhg/Desktop/2022빅콘/2022빅콘테스트_데이터분석리그_데이터분석분야_챔피언부문_데이터셋_220908/3.ev_app_activity_resident.csv')

In [4]:
resident.drop(['ccw_cd','adng_cd'],axis=1,inplace=True)
activity.drop(['ccw_cd','adng_cd'],axis=1,inplace=True)
activity_resident.drop(['ccw_cd','adng_cd','mega_cd','mega_nm'],axis=1,inplace=True)

### 시간대별 집계

In [4]:
r_timezone = resident.groupby(['cell_id','time_zone'])['count_cust'].sum().reset_index()
r_timezone

        cell_id  time_zone  count_cust
0      82743412          3       4.882
1      82807429          1      90.944
2      82807429          2      68.208
3      82807429          3      56.840
4      82807429          4     142.100
...         ...        ...         ...
38832  93750253          3       5.521
38833  93750253          5       5.521
38834  93830213          3       5.022
38835  93830213          5       5.022
38836  93830213          6       5.022

[38837 rows x 3 columns]

In [5]:
r_timezone = pd.merge(r_timezone,resident,how='left',on=['cell_id','time_zone'])
r_timezone.drop(['base_dt','count_cust_y','gender','age','app_web','dow'],axis=1,inplace=True) 
r_timezone.drop_duplicates(keep='first',inplace=True) # time_zone

In [6]:
r_timezone

         cell_id  time_zone  count_cust_x ccw_nm adng_nm  cell_xcrd  cell_ycrd
0       82743412          3         4.882    용인시     동천동  127.03221  37.360703
1       82807429          1        90.944    용인시     동천동  127.03441  37.370174
13      82807429          2        68.208    용인시     동천동  127.03441  37.370174
23      82807429          3        56.840    용인시     동천동  127.03441  37.370174
32      82807429          4       142.100    용인시     동천동  127.03441  37.370174
...          ...        ...           ...    ...     ...        ...        ...
292038  93750253          3         5.521    용인시     백암면  127.42089  37.149320
292039  93750253          5         5.521    용인시     백암면  127.42089  37.149320
292040  93830213          3         5.022    용인시     백암면  127.42372  37.133545
292041  93830213          5         5.022    용인시     백암면  127.42372  37.133545
292042  93830213          6         5.022    용인시     백암면  127.42372  37.133545

[38837 rows x 7 columns]

In [7]:
r_timezone.to_csv('r_timezone.csv',index=False)

In [8]:
a_timezone = activity.groupby(['cell_id','time_zone'])['count_cust'].sum()
a_timezone = pd.merge(a_timezone,activity,how='left',on=['cell_id','time_zone'])
a_timezone.drop(['base_dt','count_cust_y','gender','age','app_web','dow'],axis=1,inplace=True) 
a_timezone.drop_duplicates(keep='first',inplace=True) # time_zone

In [9]:
a_timezone.to_csv('a_timezone.csv',index=False)

### 격자에 따라 세 데이터 merge

In [5]:
merged1 = pd.merge(resident,activity,how='outer',on=['cell_id','ccw_nm','adng_nm','cell_xcrd','cell_ycrd','base_dt','time_zone','dow']) 
# 같은 격자내 같은 날짜, 시간대는 묶기

In [6]:
merged2 = pd.merge(merged1,activity_resident, how='outer',on=['cell_id','ccw_nm','adng_nm','cell_xcrd','cell_ycrd','base_dt','time_zone','dow'])
merged2_y = merged2.loc[merged2['ccw_nm']=='용인시'].copy()
merged2_y

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,time_zone,count_cust_x,gender_y,age_y,app_web_y,count_cust_y,gender,age,app_web,count_cust
0,20220605,7,용인시,동백1동,86135034,127.15225,37.286300,MALE,6.0,EV라운지,5,3.522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8.0,파워큐브차저,2,4.231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8.0,하이차저,2,8.462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20220614,2,용인시,포곡읍,87958893,127.21660,37.274303,FEMALE,14.0,EV라운지,1,18.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20220619,7,용인시,신봉동,84119243,127.08097,37.323480,MALE,13.0,EV라운지,2,4.335,MALE,13.0,EV라운지,4.335,MALE,13.0,EV라운지,4.335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630223,20220620,1,용인시,양지면,90182654,127.29511,37.229393,NaN,NaN,NaN,2,NaN,FEMALE,4.0,EV라운지,3.274,FEMALE,4.0,EV라운지,3.274
630224,20220608,3,용인시,남사읍,85878686,127.14400,37.122220,NaN,NaN,NaN,3,NaN,MALE,9.0,EV라운지,4.140,NaN,NaN,NaN,NaN
630225,20220628,2,용인시,성복동,83687264,127.06575,37.320717,NaN,NaN,NaN,2,NaN,FEMALE,8.0,EV라운지,5.266,NaN,NaN,NaN,NaN
630226,20220628,2,용인시,신봉동,84103247,127.08040,37.324825,NaN,NaN,NaN,5,NaN,MALE,3.0,EV라운지,21.564,NaN,NaN,NaN,NaN
630227,20220626,7,용인시,신갈동,84375154,127.09018,37.290607,NaN,NaN,NaN,4,NaN,MALE,12.0,EV라운지,3.502,MALE,12.0,EV라운지,3.502

In [7]:
merged2_y.to_csv('bigcon_merged.csv',encoding='cp949')

In [8]:
merged_grids = merged2_y[['adng_nm','cell_id','cell_xcrd','cell_ycrd']].drop_duplicates()

In [9]:
merged_grids.to_csv('merged_grids.csv',encoding='cp949')

#### 격자별 count_cust 합

In [10]:
grid_countcust = merged2_y.groupby(['adng_nm','cell_id','cell_xcrd','cell_ycrd']).sum()

In [11]:
grid_countcust.reset_index(inplace=True)
grid_countcust['tot_count_cust'] = grid_countcust['count_cust_x'] + grid_countcust['count_cust_y']+ grid_countcust['count_cust']
grid_countcust = grid_countcust[['adng_nm','cell_id','cell_xcrd','cell_ycrd','tot_count_cust']]

In [12]:
grid_countcust

      adng_nm   cell_id   cell_xcrd  cell_ycrd  tot_count_cust
0         구갈동  84919076  127.109460  37.270844         923.508
1         구갈동  84935076  127.110020  37.271297           3.048
2         구갈동  84935081  127.110010  37.273550        1262.039
3         구갈동  84935082  127.110010  37.274000         275.330
4         구갈동  84935083  127.110010  37.274452         181.521
...       ...       ...         ...        ...             ...
18542   풍덕천2동  84647202  127.099620  37.319935         157.781
18543   풍덕천2동  84663200  127.100180  37.319490        2775.626
18544   풍덕천2동  84679200  127.100746  37.319940           8.130
18545   풍덕천2동  84695200  127.101300  37.320393          10.038
18546   풍덕천2동  84711199  127.101870  37.320393          93.386

[18547 rows x 5 columns]

#### 격자, 행정동 인구 결합

In [13]:
pop1 = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/(용인시)인구 및 세대현황(8월 말 기준).csv",encoding='cp949')
pop2 = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/(용인시)연령별 인구 현황(8월 말 기준) (1).csv",encoding='cp949')
pop2['읍면동'] = pop2['읍면동'].str.replace(' ','')
pop = pd.merge(pop1,pop2,on='읍면동')
pop.rename(columns={'읍면동':'읍면동_인구',' 합     계 ':'합계_인구'},inplace=True)
# 인구 합계에 외국인은 빠져있음
pop

,읍면동_인구,내국인 계,내국인 남,내국인 여,외국인 계,외국인 남,외국인 여,합계_인구,10대 미만,10대,20대,30대,40대,50대,60대,70대,80대,90대,90세,100세 이상
0,포곡읍,"33,969","17,581","16,388",568,332,236,"33,969","1,992","3,844","4,926","3,764","5,865","6,173","4,173","2,053","1,034",144,28,1
1,모현읍,"26,971","14,123","12,848","1,286",879,407,"26,971","1,762","2,410","3,370","2,944","4,542","4,869","4,047","1,974",908,142,32,3
2,이동읍,"20,555","10,546","10,009","1,134",839,295,"20,555","1,359","1,768","2,149","2,358","3,253","3,805","3,307","1,567",845,137,35,7
3,남사읍,"23,761","12,008","11,753",776,571,205,"23,761","2,953","2,281","1,669","3,783","4,537","3,064","3,046","1,663",665,98,24,2
4,원삼면,"8,133","4,224","3,909",519,406,113,"8,133",321,546,692,653,"1,000","1,551","1,819",956,513,79,17,3
5,백암면,"9,113","4,999","4,114",634,525,109,"9,113",222,"1,115",889,727,969,"1,516","1,932",970,685,86,22,2
6,양지면,"20,989","11,408","9,581",517,366,151,"20,989","1,151","3,020","2,580","2,481","3,082","3,541","3,059","1,261",686,122,30,6
7,중앙동,"25,123","12,758","12,365","1,784","1,006",778,"25,123","1,467","2,102","4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
8,역북동,"31,935","16,126","15,809",625,326,299,"31,935","3,342","3,207","5,303","5,353","5,719","4,283","2,775","1,335",543,72,13,3
9,삼가동,"12,508","6,146","6,362",93,40,53,"12,508",952,"1,252","1,810","1,574","2,030","2,317","1,477",695,350,51,10,0
10,유림동,"36,298","18,334","17,964",535,267,268,"36,298","2,887","4,161","4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
11,동부동,"13,242","6,840","6,402",718,386,332,"13,242",658,"1,077","1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
12,신갈동,"38,022","18,970","19,052",713,360,353,"38,022","3,024","3,466","4,906","5,839","6,373","6,338","4,291","2,359","1,269",149,45,8
13,영덕1동,"30,186","15,033","15,153",209,91,118,"30,186","2,858","3,605","3,732","4,214","5,710","5,308","2,881","1,248",531,94,22,5
14,영덕2동,"17,449","8,603","8,846",90,43,47,"17,449","1,793","1,188","2,271","3,104","2,775","2,801","1,919",793,625,176,45,4
15,구갈동,"41,396","20,734","20,662",929,467,462,"41,396","3,815","3,346","6,414","7,185","7,080","6,750","3,948","1,937",790,125,32,6
16,상갈동,"13,189","6,860","6,329",246,114,132,"13,189",818,"1,190","1,929","1,880","2,172","2,343","1,456",889,470,42,10,0
17,보라동,"33,106","16,325","16,781",191,94,97,"33,106","2,563","4,272","3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
18,기흥동,"21,598","10,729","10,869",242,158,84,"21,598","1,599","2,109","2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
19,서농동,"26,166","13,418","12,748",636,300,336,"26,166","2,722","2,754","5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
20,구성동,"40,070","19,316","20,754",129,47,82,"40,070","2,973","4,826","4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
21,마북동,"31,895","15,593","16,302",135,61,74,"31,895","2,299","3,058","4,044","3,763","5,229","5,278","3,824","2,831","1,357",200,51,12
22,동백1동,"32,487","15,585","16,902",136,38,98,"32,487","2,876","5,553","3,663","2,918","7,414","5,301","2,386","1,543",737,96,23,0
23,동백2동,"27,064","13,295","13,769",88,39,49,"27,064","2,230","4,568","3,287","2,149","5,801","4,792","2,210","1,315",629,78,19,5
24,동백3동,"26,823","13,054","13,769",100,47,53,"26,823","3,069","3,522","2,543","3,479","5,577","3,447","2,287","1,827",957,113,35,2
25,상하동,"24,148","11,726","12,422",207,118,89,"24,148","1,639","2,603","3,256","2,627","3,916","4,664","2,992","1,562",767,115,31,7
26,보정동,"35,860","17,583","18,277",216,118,98,"35,860","2,912","4,457","4,162","3,682","6,974","5,778","3,628","2,743","1,338",182,43,4
27,풍덕천1동,"35,821","17,965","17,856",455,202,253,"35,821","2,492","3,429","5,026","6,245","5,690","5,527","3,833","2,264","1,151",157,46,7
28,풍덕천2동,"40,896","20,062","20,834",225,88,137,"40,896","4,222","5,679","4,766","5,819","8,748","6,091","2,714","1,689","1,038",130,43,0
29,신봉동,"40,358","19,531","20,827",120,54,66,"40,358","3,574","5,443","4,265","4,506","8,027","6,567","3,706","2,810","1,286",174,44,0
30,죽전1동,"28,778","13,941","14,837",556,211,345,"28,778","2,177","3,488","3,713","3,184","5,194","4,903","3,060","1,889","1,040",123,45,7
31,죽전2동,"18,261","9,083","9,178",89,38,51,"18,261","1,362","1,486","2,754","3,150","2,947","2,954","1,876","1,077",552,98,27,5
32,죽전3동,"26,757","12,920","13,837",570,204,366,"26,757","2,104","3,203","4,037","3,369","4,846","4,295","2,545","1,530",730,94,22,4
33,동천동,"50,557","24,873","25,684",407,199,208,"50,557","5,481","5,486","5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
34,상현1동,"20,105","9,639","10,466",67,22,45,"20,105","1,853","2,749","2,219","2,300","3,883","3,175","1,804","1,374",632,111,33,5
35,상현2동,"32,918","15,996","16,922",49,17,32,"32,918","2,975","4,105","3,671","3,904","6,261","5,241","3,123","2,376","1,130",130,32,2
36,상현3동,"27,700","13,376","14,324",107,36,71,"27,700","2,482","3,313","3,904","4,067","5,185","4,245","2,394","1,392",631,86,25,1
37,성복동,"54,544","26,337","28,207",187,92,95,"54,544","5,142","6,839","5,696","5,600","10,487","8,588","5,805","4,388","1,775",219,50,5

In [14]:
grids = pd.merge(grid_countcust,pop,left_on='adng_nm',right_on='읍면동_인구')
grids.drop('adng_nm',axis=1,inplace=True)

#### 격자, 차량 결합

In [15]:
cars = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/자동차등록현황(2022년 9월).csv",encoding='cp949')
cars.rename(columns={'구  분':'동리명_차량','합  계':'합계_차량'},inplace=True)
cars

   동리명_차량  합계_차량   승  용  승  합  화  물  특  수  관  용    자가용   영업용
0     포곡읍  18048  14071   739  3110   128    10  17388   650
1     모현읍  16486  12192   720  3507    67     0  15616   870
2     이동읍  13126   9567   385  3129    45    11  12158   957
3     남사읍  13772  11156   352  2208    56    28  13490   254
4     원삼면   5862   3973   146  1704    39     2   5354   506
5     백암면   6491   3607   255  2467   162     1   5225  1265
6     양지면  12941   9713   409  2699   120     0  11940  1001
7    김량장동   9422   7930   358  1098    36    24   9094   304
8      남동   3792   2584   763   435    10     0   3062   730
9     역북동  14184  12574   338  1208    64    85  13698   401
10    삼가동   6633   5642   306   657    28   635   5761   237
11    유방동   6140   4874   212   913   141     0   5835   305
12    고림동  12185  10236   391  1497    61     0  11748   437
13    마평동   5702   4530   211   907    54     0   5448   254
14    운학동    859    617    28   196    18     1    836    22
15     호동    398    310     9    75     4     0    397     1
16    해곡동    178    116     6    55     1     0    178     0
17    신갈동  16428  14468   391  1500    69    45  15813   570
18    영덕동  24580  22411   429  1676    64     4  24191   385
19    하갈동   3006   2226    80   672    28     0   2554   452
20    구갈동  18625  16764   381  1427    53     1  17235  1389
21    상갈동   5403   4772   130   491    10     0   5254   149
22    보라동  12579  11199   286  1060    34     0  12147   432
23    지곡동   2688   2040   128   482    38     0   2491   197
24    공세동   8068   7126   170   754    18     0   7847   221
25    고매동   3034   2291   221   508    14     0   2779   255
26    농서동   2119   1724    77   304    14     0   1960   159
27    서천동   9236   8565   233   416    22     0   8938   298
28    언남동  10068   9206   165   677    20     4   9702   362
29    청덕동   7083   6195   214   644    30    15   6851   217
30    마북동  13349  12454   229   645    21     5  13124   220
31    동백동  15614  14446   280   847    41     1  15413   200
32     중동  20569  18830   401  1262    76     0  20282   287
33    상하동  11132   9743   273  1089    27     0  10824   308
34    보정동  16663  15262   434   943    24    48  15748   867
35   풍덕천동  28920  27276   404  1202    38    25  28396   499
36    신봉동  16737  15921   247   536    33     0  16538   199
37    죽전동  28359  26684   531  1114    30    31  27886   442
38    동천동  20230  18496   254  1442    38     1  19468   761
39    고기동   2050   1826    54   161     9     0   2044     6
40    상현동  32043  30287   496  1214    46     2  31756   285
41    성복동  22674  21707   275   647    45     0  22630    44

#####  법정동, 행정동 매핑

In [16]:
dongs = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/법정동행정동매핑.csv",encoding='cp949')
dongs.rename(columns={'읍면동명':'읍면동_매핑'},inplace=True)
dongs

        시군구명 읍면동_매핑  동리명  Unnamed: 3
0    용인시 처인구    포곡읍  포곡읍         NaN
1    용인시 처인구    포곡읍  삼계리         NaN
2    용인시 처인구    포곡읍  금어리         NaN
3    용인시 처인구    포곡읍  둔전리         NaN
4    용인시 처인구    포곡읍  영문리         NaN
..       ...    ...  ...         ...
117  용인시 수지구    동천동  고기동         NaN
118  용인시 수지구   상현1동  상현동         NaN
119  용인시 수지구   상현2동  상현동         NaN
120  용인시 수지구   상현3동  상현동         NaN
121  용인시 수지구    성복동  성복동         NaN

[122 rows x 4 columns]

In [17]:
mapping_dongs_cars= pd.merge(dongs, cars,how='outer',left_on='동리명',right_on='동리명_차량')
# mapping_dong[['읍면동_매핑','동리명','동리명_차량']]
mapping_dongs_cars.dropna(subset=['동리명_차량'],inplace=True)
mapping_dongs_cars.drop(['시군구명','동리명','Unnamed: 3'],axis=1,inplace=True)
mapping_dongs_cars

mapping_total = pd.merge(mapping_dongs_cars,pop,left_on='읍면동_매핑',right_on='읍면동_인구')
mapping_total.drop(['읍면동_매핑'],axis=1,inplace=True)
mapping_total
# 격자는 읍면동 기준!
# 결과 살펴보니 인구의 읍면동이 차량의 동리명보다 크다 -> 차량이 합쳐져서 각 동에 들어가야 함
# 그러나 이상하게 2개의 동리명이 3개의 읍면동으로 들어가는 경우 있어
# ex) 중동과 동백동(동리명)이 동백1,2,3동
# 그냥 각 읍면동 내 동리명 차량의 평균을 차량대수로 보는 것이 맞아보임

,동리명_차량,합계_차량,승 용,승 합,화 물,특 수,관 용,자가용,영업용,읍면동_인구,...,20대,30대,40대,50대,60대,70대,80대,90대,90세,100세 이상
0,포곡읍,18048.0,14071.0,739.0,3110.0,128.0,10.0,17388.0,650.0,포곡읍,...,"4,926","3,764","5,865","6,173","4,173","2,053","1,034",144,28,1
1,모현읍,16486.0,12192.0,720.0,3507.0,67.0,0.0,15616.0,870.0,모현읍,...,"3,370","2,944","4,542","4,869","4,047","1,974",908,142,32,3
2,이동읍,13126.0,9567.0,385.0,3129.0,45.0,11.0,12158.0,957.0,이동읍,...,"2,149","2,358","3,253","3,805","3,307","1,567",845,137,35,7
3,남사읍,13772.0,11156.0,352.0,2208.0,56.0,28.0,13490.0,254.0,남사읍,...,"1,669","3,783","4,537","3,064","3,046","1,663",665,98,24,2
4,원삼면,5862.0,3973.0,146.0,1704.0,39.0,2.0,5354.0,506.0,원삼면,...,692,653,"1,000","1,551","1,819",956,513,79,17,3
5,백암면,6491.0,3607.0,255.0,2467.0,162.0,1.0,5225.0,1265.0,백암면,...,889,727,969,"1,516","1,932",970,685,86,22,2
6,양지면,12941.0,9713.0,409.0,2699.0,120.0,0.0,11940.0,1001.0,양지면,...,"2,580","2,481","3,082","3,541","3,059","1,261",686,122,30,6
7,김량장동,9422.0,7930.0,358.0,1098.0,36.0,24.0,9094.0,304.0,중앙동,...,"4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
8,남동,3792.0,2584.0,763.0,435.0,10.0,0.0,3062.0,730.0,중앙동,...,"4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
9,역북동,14184.0,12574.0,338.0,1208.0,64.0,85.0,13698.0,401.0,역북동,...,"5,303","5,353","5,719","4,283","2,775","1,335",543,72,13,3
10,삼가동,6633.0,5642.0,306.0,657.0,28.0,635.0,5761.0,237.0,삼가동,...,"1,810","1,574","2,030","2,317","1,477",695,350,51,10,0
11,유방동,6140.0,4874.0,212.0,913.0,141.0,0.0,5835.0,305.0,유림동,...,"4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
12,고림동,12185.0,10236.0,391.0,1497.0,61.0,0.0,11748.0,437.0,유림동,...,"4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
13,마평동,5702.0,4530.0,211.0,907.0,54.0,0.0,5448.0,254.0,동부동,...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
14,운학동,859.0,617.0,28.0,196.0,18.0,1.0,836.0,22.0,동부동,...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
15,호동,398.0,310.0,9.0,75.0,4.0,0.0,397.0,1.0,동부동,...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
16,해곡동,178.0,116.0,6.0,55.0,1.0,0.0,178.0,0.0,동부동,...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
17,신갈동,16428.0,14468.0,391.0,1500.0,69.0,45.0,15813.0,570.0,신갈동,...,"4,906","5,839","6,373","6,338","4,291","2,359","1,269",149,45,8
18,영덕동,24580.0,22411.0,429.0,1676.0,64.0,4.0,24191.0,385.0,영덕1동,...,"3,732","4,214","5,710","5,308","2,881","1,248",531,94,22,5
19,영덕동,24580.0,22411.0,429.0,1676.0,64.0,4.0,24191.0,385.0,영덕2동,...,"2,271","3,104","2,775","2,801","1,919",793,625,176,45,4
20,하갈동,3006.0,2226.0,80.0,672.0,28.0,0.0,2554.0,452.0,영덕2동,...,"2,271","3,104","2,775","2,801","1,919",793,625,176,45,4
21,구갈동,18625.0,16764.0,381.0,1427.0,53.0,1.0,17235.0,1389.0,구갈동,...,"6,414","7,185","7,080","6,750","3,948","1,937",790,125,32,6
22,상갈동,5403.0,4772.0,130.0,491.0,10.0,0.0,5254.0,149.0,상갈동,...,"1,929","1,880","2,172","2,343","1,456",889,470,42,10,0
23,보라동,12579.0,11199.0,286.0,1060.0,34.0,0.0,12147.0,432.0,보라동,...,"3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
24,지곡동,2688.0,2040.0,128.0,482.0,38.0,0.0,2491.0,197.0,보라동,...,"3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
25,공세동,8068.0,7126.0,170.0,754.0,18.0,0.0,7847.0,221.0,기흥동,...,"2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
26,고매동,3034.0,2291.0,221.0,508.0,14.0,0.0,2779.0,255.0,기흥동,...,"2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
27,농서동,2119.0,1724.0,77.0,304.0,14.0,0.0,1960.0,159.0,서농동,...,"5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
28,서천동,9236.0,8565.0,233.0,416.0,22.0,0.0,8938.0,298.0,서농동,...,"5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
29,언남동,10068.0,9206.0,165.0,677.0,20.0,4.0,9702.0,362.0,구성동,...,"4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
30,청덕동,7083.0,6195.0,214.0,644.0,30.0,15.0,6851.0,217.0,구성동,...,"4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
31,마북동,13349.0,12454.0,229.0,645.0,21.0,5.0,13124.0,220.0,마북동,...,"4,044","3,763","5,229","5,278","3,824","2,831","1,357",200,51,12
32,동백동,15614.0,14446.0,280.0,847.0,41.0,1.0,15413.0,200.0,동백1동,...,"3,663","2,918","7,414","5,301","2,386","1,543",737,96,23,0
33,동백동,15614.0,14446.0,280.0,847.0,41.0,1.0,15413.0,200.0,동백3동,...,"2,543","3,479","5,577","3,447","2,287","1,827",957,113,35,2
34,중동,20569.0,18830.0,401.0,1262.0,76.0,0.0,20282.0,287.0,동백3동,...,"2,543","3,479","5,577","3,447","2,287","1,827",957,113,35,2
35,중동,20569.0,18830.0,401.0,1262.0,76.0,0.0,20282.0,287.0,동백2동,...,"3,287","2,149","5,801","4,792","2,210","1,315",629,78,19,5
36,상하동,11132.0,9743.0,273.0,1089.0,27.0,0.0,10824.0,308.0,상하동,...,"3,256","2,627","3,916","4,664","2,992","1,562",767,115,31,7
37,보정동,16663.0,15262.0,434.0,943.0,24.0,48.0,15748.0,867.0,보정동,...,"4,162","3,682","6,974","5,778","3,628","2,743","1,338",182,43,4
38,풍덕천동,28920.0,27276.0,404.0,1202.0,38.0,25.0,28396.0,499.0,풍덕천1동,...,"5,026","6,245","5,690","5,527","3,833","2,264","1,151",157,46,7
39,풍덕천동,28920.0,27276.0,404.0,1202.0,38.0,25.0,28396.0,499.0,풍덕천2동,...,"4,766","5,819","8,748","6,091","2,714","1,689","1,038",130,43,0
40,신봉동,16737.0,15921.0,247.0,536.0,33.0,0.0,16538.0,199.0,신봉동,...,"4,265","4,506","8,027","6,567","3,706","2,810","1,286",174,44,0
41,죽전동,28359.0,26684.0,531.0,1114.0,30.0,31.0,27886.0,442.0,죽전1동,...,"3,713","3,184","5,194","4,903","3,060","1,889","1,040",123,45,7
42,죽전동,28359.0,26684.0,531.0,1114.0,30.0,31.0,27886.0,442.0,죽전2동,...,"2,754","3,150","2,947","2,954","1,876","1,077",552,98,27,5
43,죽전동,28359.0,26684.0,531.0,1114.0,30.0,31.0,27886.0,442.0,죽전3동,...,"4,037","3,369","4,846","4,295","2,545","1,530",730,94,22,4
44,동천동,20230.0,18496.0,254.0,1442.0,38.0,1.0,19468.0,761.0,동천동,...,"5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
45,고기동,2050.0,1826.0,54.0,161.0,9.0,0.0,2044.0,6.0,동천동,...,"5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
46,상현동,32043.0,30287.0,496.0,1214.0,46.0,2.0,31756.0,285.0,상현1동,...,"2,219","2,300","3,883","3,175","1,804","1,374",632,111,33,5
47,상현동,32043.0,30287.0,496.0,1214.0,46.0,2.0,31756.0,285.0,상현2동,...,"3,671","3,904","6,261","5,241","3,123","2,376","1,130",130,32,2
48,상현동,32043.0,30287.0,496.0,1214.0,46.0,2.0,31756.0,285.0,상현3동,...,"3,904","4,067","5,185","4,245","2,394","1,392",631,86,25,1
49,성복동,22674.0,21707.0,275.0,647.0,45.0,0.0,22630.0,44.0,성복동,...,"5,696","5,600","10,487","8,588","5,805","4,388","1,775",219,50,5

In [18]:
mapping_total.to_csv('mapping_total.csv',encoding='cp949')

In [19]:
mapping_total.columns

Index(['동리명_차량', '합계_차량', '승  용', '승  합', '화  물', '특  수', '관  용', '자가용', '영업용',
       '읍면동_인구', '내국인 계', '내국인 남', '내국인 여', '외국인 계', '외국인 남', '외국인 여', '합계_인구',
       ' 10대 미만 ', ' 10대 ', ' 20대 ', ' 30대 ', ' 40대 ', ' 50대 ', ' 60대 ',
       ' 70대 ', ' 80대 ', ' 90대 ', ' 90세 ', ' 100세 이상 '],
      dtype='object')

In [20]:
sep_dong = ['동백1동','동백2동','동백3동','풍덕천1동','풍덕천2동','상현1동','상현2동','상현3동','죽전1동','죽전2동','죽전3동','영덕1동','영덕2동']
cal_cars = mapping_total.loc[~mapping_total['읍면동_인구'].isin(sep_dong)]
# mapping_total.groupby('읍면동_인구')['합계_차량', '승  용', '승  합', '화  물', '특  수', '관  용', '자가용', '영업용',].sum()
cal_cars = cal_cars.groupby('읍면동_인구')['합계_차량', '승  용', '승  합', '화  물', '특  수', '관  용', '자가용', '영업용',].sum()
cal_cars.reset_index(inplace=True)

C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\1098808254.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cal_cars = cal_cars.groupby('읍면동_인구')['합계_차량', '승  용', '승  합', '화  물', '특  수', '관  용', '자가용', '영업용',].sum()

In [21]:
mapping_total.columns

Index(['동리명_차량', '합계_차량', '승  용', '승  합', '화  물', '특  수', '관  용', '자가용', '영업용',
       '읍면동_인구', '내국인 계', '내국인 남', '내국인 여', '외국인 계', '외국인 남', '외국인 여', '합계_인구',
       ' 10대 미만 ', ' 10대 ', ' 20대 ', ' 30대 ', ' 40대 ', ' 50대 ', ' 60대 ',
       ' 70대 ', ' 80대 ', ' 90대 ', ' 90세 ', ' 100세 이상 '],
      dtype='object')

In [22]:
cal_cars = pd.merge(cal_cars,mapping_total[['읍면동_인구','내국인 계', '내국인 남', '내국인 여', '외국인 계', '외국인 남', '외국인 여', '합계_인구',
       ' 10대 미만 ', ' 10대 ', ' 20대 ', ' 30대 ', ' 40대 ', ' 50대 ', ' 60대 ',
       ' 70대 ', ' 80대 ', ' 90대 ', ' 90세 ', ' 100세 이상 ']],how='inner',on='읍면동_인구')
cal_cars

,읍면동_인구,합계_차량,승 용,승 합,화 물,특 수,관 용,자가용,영업용,내국인 계,...,20대,30대,40대,50대,60대,70대,80대,90대,90세,100세 이상
0,구갈동,18625.0,16764.0,381.0,1427.0,53.0,1.0,17235.0,1389.0,"41,396",...,"6,414","7,185","7,080","6,750","3,948","1,937",790,125,32,6
1,구성동,17151.0,15401.0,379.0,1321.0,50.0,19.0,16553.0,579.0,"40,070",...,"4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
2,구성동,17151.0,15401.0,379.0,1321.0,50.0,19.0,16553.0,579.0,"40,070",...,"4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
3,기흥동,11102.0,9417.0,391.0,1262.0,32.0,0.0,10626.0,476.0,"21,598",...,"2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
4,기흥동,11102.0,9417.0,391.0,1262.0,32.0,0.0,10626.0,476.0,"21,598",...,"2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
5,남사읍,13772.0,11156.0,352.0,2208.0,56.0,28.0,13490.0,254.0,"23,761",...,"1,669","3,783","4,537","3,064","3,046","1,663",665,98,24,2
6,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
7,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
8,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
9,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
10,동천동,22280.0,20322.0,308.0,1603.0,47.0,1.0,21512.0,767.0,"50,557",...,"5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
11,동천동,22280.0,20322.0,308.0,1603.0,47.0,1.0,21512.0,767.0,"50,557",...,"5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
12,마북동,13349.0,12454.0,229.0,645.0,21.0,5.0,13124.0,220.0,"31,895",...,"4,044","3,763","5,229","5,278","3,824","2,831","1,357",200,51,12
13,모현읍,16486.0,12192.0,720.0,3507.0,67.0,0.0,15616.0,870.0,"26,971",...,"3,370","2,944","4,542","4,869","4,047","1,974",908,142,32,3
14,백암면,6491.0,3607.0,255.0,2467.0,162.0,1.0,5225.0,1265.0,"9,113",...,889,727,969,"1,516","1,932",970,685,86,22,2
15,보라동,15267.0,13239.0,414.0,1542.0,72.0,0.0,14638.0,629.0,"33,106",...,"3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
16,보라동,15267.0,13239.0,414.0,1542.0,72.0,0.0,14638.0,629.0,"33,106",...,"3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
17,보정동,16663.0,15262.0,434.0,943.0,24.0,48.0,15748.0,867.0,"35,860",...,"4,162","3,682","6,974","5,778","3,628","2,743","1,338",182,43,4
18,삼가동,6633.0,5642.0,306.0,657.0,28.0,635.0,5761.0,237.0,"12,508",...,"1,810","1,574","2,030","2,317","1,477",695,350,51,10,0
19,상갈동,5403.0,4772.0,130.0,491.0,10.0,0.0,5254.0,149.0,"13,189",...,"1,929","1,880","2,172","2,343","1,456",889,470,42,10,0
20,상하동,11132.0,9743.0,273.0,1089.0,27.0,0.0,10824.0,308.0,"24,148",...,"3,256","2,627","3,916","4,664","2,992","1,562",767,115,31,7
21,서농동,11355.0,10289.0,310.0,720.0,36.0,0.0,10898.0,457.0,"26,166",...,"5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
22,서농동,11355.0,10289.0,310.0,720.0,36.0,0.0,10898.0,457.0,"26,166",...,"5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
23,성복동,22674.0,21707.0,275.0,647.0,45.0,0.0,22630.0,44.0,"54,544",...,"5,696","5,600","10,487","8,588","5,805","4,388","1,775",219,50,5
24,신갈동,16428.0,14468.0,391.0,1500.0,69.0,45.0,15813.0,570.0,"38,022",...,"4,906","5,839","6,373","6,338","4,291","2,359","1,269",149,45,8
25,신봉동,16737.0,15921.0,247.0,536.0,33.0,0.0,16538.0,199.0,"40,358",...,"4,265","4,506","8,027","6,567","3,706","2,810","1,286",174,44,0
26,양지면,12941.0,9713.0,409.0,2699.0,120.0,0.0,11940.0,1001.0,"20,989",...,"2,580","2,481","3,082","3,541","3,059","1,261",686,122,30,6
27,역북동,14184.0,12574.0,338.0,1208.0,64.0,85.0,13698.0,401.0,"31,935",...,"5,303","5,353","5,719","4,283","2,775","1,335",543,72,13,3
28,원삼면,5862.0,3973.0,146.0,1704.0,39.0,2.0,5354.0,506.0,"8,133",...,692,653,"1,000","1,551","1,819",956,513,79,17,3
29,유림동,18325.0,15110.0,603.0,2410.0,202.0,0.0,17583.0,742.0,"36,298",...,"4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
30,유림동,18325.0,15110.0,603.0,2410.0,202.0,0.0,17583.0,742.0,"36,298",...,"4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
31,이동읍,13126.0,9567.0,385.0,3129.0,45.0,11.0,12158.0,957.0,"20,555",...,"2,149","2,358","3,253","3,805","3,307","1,567",845,137,35,7
32,중앙동,13214.0,10514.0,1121.0,1533.0,46.0,24.0,12156.0,1034.0,"25,123",...,"4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
33,중앙동,13214.0,10514.0,1121.0,1533.0,46.0,24.0,12156.0,1034.0,"25,123",...,"4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
34,포곡읍,18048.0,14071.0,739.0,3110.0,128.0,10.0,17388.0,650.0,"33,969",...,"4,926","3,764","5,865","6,173","4,173","2,053","1,034",144,28,1

In [23]:
# 숫자 동은 다소 까다로워 엑셀로 처리
cal_cars2 = pd.read_csv("C:/Users/bhg\\Desktop/2022빅콘/sep_dong.csv",encoding='cp949')
cal_cars2.dropna(inplace=True)
final_agg = pd.concat([cal_cars,cal_cars2])
final_agg

,읍면동_인구,합계_차량,승 용,승 합,화 물,특 수,관 용,자가용,영업용,내국인 계,...,20대,30대,40대,50대,60대,70대,80대,90대,90세,100세 이상
0,구갈동,18625.0,16764.0,381.0,1427.0,53.0,1.0,17235.0,1389.0,"41,396",...,"6,414","7,185","7,080","6,750","3,948","1,937",790,125,32,6
1,구성동,17151.0,15401.0,379.0,1321.0,50.0,19.0,16553.0,579.0,"40,070",...,"4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
2,구성동,17151.0,15401.0,379.0,1321.0,50.0,19.0,16553.0,579.0,"40,070",...,"4,400","4,050","7,442","6,565","4,605","3,334","1,633",233,61,9
3,기흥동,11102.0,9417.0,391.0,1262.0,32.0,0.0,10626.0,476.0,"21,598",...,"2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
4,기흥동,11102.0,9417.0,391.0,1262.0,32.0,0.0,10626.0,476.0,"21,598",...,"2,630","2,704","3,762","3,591","2,844","1,557",707,93,33,2
5,남사읍,13772.0,11156.0,352.0,2208.0,56.0,28.0,13490.0,254.0,"23,761",...,"1,669","3,783","4,537","3,064","3,046","1,663",665,98,24,2
6,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
7,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
8,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
9,동부동,7137.0,5573.0,254.0,1233.0,77.0,1.0,6859.0,277.0,"13,242",...,"1,756","1,444","1,912","2,586","2,218","1,077",429,80,13,5
10,동천동,22280.0,20322.0,308.0,1603.0,47.0,1.0,21512.0,767.0,"50,557",...,"5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
11,동천동,22280.0,20322.0,308.0,1603.0,47.0,1.0,21512.0,767.0,"50,557",...,"5,546","7,660","9,750","7,581","5,029","2,765","1,081",170,37,8
12,마북동,13349.0,12454.0,229.0,645.0,21.0,5.0,13124.0,220.0,"31,895",...,"4,044","3,763","5,229","5,278","3,824","2,831","1,357",200,51,12
13,모현읍,16486.0,12192.0,720.0,3507.0,67.0,0.0,15616.0,870.0,"26,971",...,"3,370","2,944","4,542","4,869","4,047","1,974",908,142,32,3
14,백암면,6491.0,3607.0,255.0,2467.0,162.0,1.0,5225.0,1265.0,"9,113",...,889,727,969,"1,516","1,932",970,685,86,22,2
15,보라동,15267.0,13239.0,414.0,1542.0,72.0,0.0,14638.0,629.0,"33,106",...,"3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
16,보라동,15267.0,13239.0,414.0,1542.0,72.0,0.0,14638.0,629.0,"33,106",...,"3,980","3,440","6,263","5,549","3,585","2,260","1,058",128,25,8
17,보정동,16663.0,15262.0,434.0,943.0,24.0,48.0,15748.0,867.0,"35,860",...,"4,162","3,682","6,974","5,778","3,628","2,743","1,338",182,43,4
18,삼가동,6633.0,5642.0,306.0,657.0,28.0,635.0,5761.0,237.0,"12,508",...,"1,810","1,574","2,030","2,317","1,477",695,350,51,10,0
19,상갈동,5403.0,4772.0,130.0,491.0,10.0,0.0,5254.0,149.0,"13,189",...,"1,929","1,880","2,172","2,343","1,456",889,470,42,10,0
20,상하동,11132.0,9743.0,273.0,1089.0,27.0,0.0,10824.0,308.0,"24,148",...,"3,256","2,627","3,916","4,664","2,992","1,562",767,115,31,7
21,서농동,11355.0,10289.0,310.0,720.0,36.0,0.0,10898.0,457.0,"26,166",...,"5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
22,서농동,11355.0,10289.0,310.0,720.0,36.0,0.0,10898.0,457.0,"26,166",...,"5,106","4,157","4,654","3,322","2,115",913,375,47,12,1
23,성복동,22674.0,21707.0,275.0,647.0,45.0,0.0,22630.0,44.0,"54,544",...,"5,696","5,600","10,487","8,588","5,805","4,388","1,775",219,50,5
24,신갈동,16428.0,14468.0,391.0,1500.0,69.0,45.0,15813.0,570.0,"38,022",...,"4,906","5,839","6,373","6,338","4,291","2,359","1,269",149,45,8
25,신봉동,16737.0,15921.0,247.0,536.0,33.0,0.0,16538.0,199.0,"40,358",...,"4,265","4,506","8,027","6,567","3,706","2,810","1,286",174,44,0
26,양지면,12941.0,9713.0,409.0,2699.0,120.0,0.0,11940.0,1001.0,"20,989",...,"2,580","2,481","3,082","3,541","3,059","1,261",686,122,30,6
27,역북동,14184.0,12574.0,338.0,1208.0,64.0,85.0,13698.0,401.0,"31,935",...,"5,303","5,353","5,719","4,283","2,775","1,335",543,72,13,3
28,원삼면,5862.0,3973.0,146.0,1704.0,39.0,2.0,5354.0,506.0,"8,133",...,692,653,"1,000","1,551","1,819",956,513,79,17,3
29,유림동,18325.0,15110.0,603.0,2410.0,202.0,0.0,17583.0,742.0,"36,298",...,"4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
30,유림동,18325.0,15110.0,603.0,2410.0,202.0,0.0,17583.0,742.0,"36,298",...,"4,802","4,412","6,649","6,498","3,915","1,924",918,129,32,3
31,이동읍,13126.0,9567.0,385.0,3129.0,45.0,11.0,12158.0,957.0,"20,555",...,"2,149","2,358","3,253","3,805","3,307","1,567",845,137,35,7
32,중앙동,13214.0,10514.0,1121.0,1533.0,46.0,24.0,12156.0,1034.0,"25,123",...,"4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
33,중앙동,13214.0,10514.0,1121.0,1533.0,46.0,24.0,12156.0,1034.0,"25,123",...,"4,347","3,270","3,794","4,298","3,351","1,608",760,124,39,2
34,포곡읍,18048.0,14071.0,739.0,3110.0,128.0,10.0,17388.0,650.0,"33,969",...,"4,926","3,764","5,865","6,173","4,173","2,053","1,034",144,28,1
0,영덕1동,15574.0,14200.0,272.0,1062.0,41.0,3.0,15327.0,244.0,30186,...,3732,4214,5710,5308,2881,1248,531,94,22,5
1,영덕2동,9006.0,8211.0,157.0,614.0,23.0,1.0,8864.0,141.0,17449,...,2271,3104,2775,2801,1919,793,625,176,45,4
2,동백1동,13608.0,12515.0,256.0,793.0,44.0,0.0,13425.0,183.0,32487,...,3663,2918,7414,5301,2386,1543,737,96,23,0
3,동백2동,11340.0,10429.0,213.0,661.0,37.0,0.0,11187.0,153.0,27064,...,3287,2149,5801,4792,2210,1315,629,78,19,5
4,동백3동,11235.0,10332.0,211.0,655.0,36.0,0.0,11083.0,151.0,26823,...,2543,3479,5577,3447,2287,1827,957,113,35,2
5,풍덕천1동,13503.0,12735.0,189.0,561.0,18.0,12.0,13258.0,233.0,35821,...,5026,6245,5690,5527,3833,2264,1151,157,46,7
6,풍덕천2동,15417.0,14541.0,215.0,641.0,20.0,13.0,15138.0,266.0,40896,...,4766,5819,8748,6091,2714,1689,1038,130,43,0
7,죽전1동,11029.0,10377.0,207.0,433.0,12.0,12.0,10845.0,172.0,28778,...,3713,3184,5194,4903,3060,1889,1040,123,45,7
8,죽전2동,7016.0,6602.0,131.0,276.0,7.0,8.0,6899.0,109.0,18261,...,2754,3150,2947,2954,1876,1077,552,98,27,5
9,죽전3동,10280.0,9673.0,192.0,404.0,11.0,11.0,10109.0,160.0,26757,...,4037,3369,4846,4295,2545,1530,730,94,22,4
10,상현1동,7979.0,7541.0,124.0,302.0,11.0,0.0,7907.0,71.0,20105,...,2219,2300,3883,3175,1804,1374,632,111,33,5
11,상현2동,13064.0,12348.0,202.0,495.0,19.0,1.0,12947.0,116.0,32918,...,3671,3904,6261,5241,3123,2376,1130,130,32,2
12,상현3동,10994.0,10391.0,170.0,417.0,16.0,1.0,10895.0,98.0,27700,...,3904,4067,5185,4245,2394,1392,631,86,25,1

In [24]:
grids.columns

Index(['cell_id', 'cell_xcrd', 'cell_ycrd', 'tot_count_cust', '읍면동_인구',
       '내국인 계', '내국인 남', '내국인 여', '외국인 계', '외국인 남', '외국인 여', '합계_인구',
       ' 10대 미만 ', ' 10대 ', ' 20대 ', ' 30대 ', ' 40대 ', ' 50대 ', ' 60대 ',
       ' 70대 ', ' 80대 ', ' 90대 ', ' 90세 ', ' 100세 이상 '],
      dtype='object')

In [25]:
grids_popcar = pd.merge(final_agg,grids[['cell_id', 'cell_xcrd', 'cell_ycrd', 'tot_count_cust', '읍면동_인구',]],on='읍면동_인구')
grids_popcar.to_csv('grids_popcar.csv')

##### 격자 공시지가 결합

In [45]:
price_test = pd.read_csv("C:/Users/bhg/Downloads/AL_41_D151_20220722.csv",encoding='cp949',chunksize=100000)

In [46]:
df_y= pd.DataFrame()

for df in price_test:
    df['법정동코드'] = df['법정동코드'].astype(str)
    df_y = pd.concat([df_y,df.loc[df['법정동코드'].str.startswith('4146')]])

C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:
C:\Users\bhg\AppData\Local\Temp\ipykernel_13612\2945608531.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in price_test:

In [47]:
# 연속지적도는 33만개
df_y

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,기준연도,기준월,공시지가,공시일자,표준지여부,데이터기준일자
42159343,4146110100100010000,4146110100,경기도 용인시 처인구 김량장동,1,일반,1,1999,1,52800,1999-06-30,N,2022-07-22
42159344,4146110100100010000,4146110100,경기도 용인시 처인구 김량장동,1,일반,1,2000,1,59400,2000-06-30,N,2022-07-22
42159345,4146110100100010000,4146110100,경기도 용인시 처인구 김량장동,1,일반,1,2001,1,62700,2001-06-30,N,2022-07-22
42159346,4146110100100010000,4146110100,경기도 용인시 처인구 김량장동,1,일반,1,2001,9,63900,2001-12-28,N,2022-07-22
42159347,4146110100100010000,4146110100,경기도 용인시 처인구 김량장동,1,일반,1,2002,1,69300,2002-06-29,N,2022-07-22
...,...,...,...,...,...,...,...,...,...,...,...,...
49328580,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1997,1,6930,1997-06-30,N,2022-07-22
49328581,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1998,1,7260,1998-06-30,N,2022-07-22
49328582,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1999,1,17800,1999-06-30,N,2022-07-22
49328583,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,2000,1,28000,2000-06-30,N,2022-07-22
49328584,4146510700200900000,4146510700,경기도 용인시 수지구 상현동,2,산,90,2008,1,111000,2008-05-31,N,2022-07-22

In [49]:
df_y.loc[df_y['고유번호']==4146510700200840000]

,고유번호,법정동코드,법정동명,특수지구분코드,특수지구분명,지번,기준연도,기준월,공시지가,공시일자,표준지여부,데이터기준일자
49328579,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1996,1,6600,1996-06-29,N,2022-07-22
49328580,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1997,1,6930,1997-06-30,N,2022-07-22
49328581,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1998,1,7260,1998-06-30,N,2022-07-22
49328582,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,1999,1,17800,1999-06-30,N,2022-07-22
49328583,4146510700200840000,4146510700,경기도 용인시 수지구 상현동,2,산,84,2000,1,28000,2000-06-30,N,2022-07-22

In [52]:
df_y.columns

Index(['고유번호', '법정동코드', '법정동명', '특수지구분코드', '특수지구분명', '지번', '기준연도', '기준월',
       '공시지가', '공시일자', '표준지여부', '데이터기준일자'],
      dtype='object')

In [55]:
df_y = df_y[['고유번호','법정동명', '특수지구분명', '공시지가', '공시일자',]]
# 유튜브 데이터 정리본
df_y.to_csv('price_youtube.csv',index=False)

In [38]:
price_youtube = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/2022-BigContest/price_youtube.csv")
price_youtube['공시일자'] = pd.to_datetime(price_youtube['공시일자'])

In [39]:
price_youtube = price_youtube.groupby(['고유번호','법정동명','특수지구분명'])['공시지가','공시일자'].max().reset_index()

C:\Users\bhg\AppData\Local\Temp\ipykernel_12180\2472096709.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  price_youtube = price_youtube.groupby(['고유번호','법정동명','특수지구분명'])['공시지가','공시일자'].max().reset_index()

In [42]:
price_youtube

                       고유번호                 법정동명 특수지구분명     공시지가       공시일자
0        414613502511233000  경기도 용인시 처인구 백암면 옥산리     일반     1740 1999-06-30
1       4146110100100010000     경기도 용인시 처인구 김량장동     일반    89100 2004-06-30
2       4146110100100010001     경기도 용인시 처인구 김량장동     일반   577400 2022-04-29
3       4146110100100010002     경기도 용인시 처인구 김량장동     일반  1340000 2022-04-29
4       4146110100100010003     경기도 용인시 처인구 김량장동     일반    89100 2004-06-30
...                     ...                  ...    ...      ...        ...
411957  4146510700200820025      경기도 용인시 수지구 상현동      산    38900 2022-04-29
411958  4146510700200820026      경기도 용인시 수지구 상현동      산    38900 2022-04-29
411959  4146510700200820028      경기도 용인시 수지구 상현동      산   115000 2012-05-31
411960  4146510700200840000      경기도 용인시 수지구 상현동      산    28000 2000-06-30
411961  4146510700200900000      경기도 용인시 수지구 상현동      산   111000 2008-05-31

[411962 rows x 5 columns]

In [41]:
maps = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/연속지적도.csv")

set0 = set(maps['PNU'].unique())
set1 = set(price_youtube['고유번호'].unique())
set2 = set(price_first['PNU'].unique())

print(len(set0 - set1.union(set2)))
print(len(set0-set1)) # 공시지가로는 
print(len(set0-set2))

33049
33049
271297

In [47]:
maps_youtube = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/연속지적도_유튜브.csv")
set_youtube = set(maps_youtube['A1'].unique())

print(len(set_youtube - set1.union(set2)))
print(len(set_youtube-set1)) # 공시지가로는 
print(len(set_youtube-set2))

32547
32547
270809

In [44]:
maps['PNU'].nunique()

336326

In [48]:
price_youtube['법정동명'].unique()

array(['경기도 용인시 처인구 백암면 옥산리', '경기도 용인시 처인구 김량장동', '경기도 용인시 처인구 역북동',
       '경기도 용인시 처인구 삼가동', '경기도 용인시 처인구 남동', '경기도 용인시 처인구 유방동',
       '경기도 용인시 처인구 고림동', '경기도 용인시 처인구 마평동', '경기도 용인시 처인구 운학동',
       '경기도 용인시 처인구 호동', '경기도 용인시 처인구 해곡동', '경기도 용인시 처인구 포곡읍 삼계리',
       '경기도 용인시 처인구 포곡읍 금어리', '경기도 용인시 처인구 포곡읍 둔전리',
       '경기도 용인시 처인구 포곡읍 영문리', '경기도 용인시 처인구 포곡읍 마성리',
       '경기도 용인시 처인구 포곡읍 가실리', '경기도 용인시 처인구 포곡읍 전대리',
       '경기도 용인시 처인구 포곡읍 유운리', '경기도 용인시 처인구 포곡읍 신원리',
       '경기도 용인시 처인구 모현읍 왕산리', '경기도 용인시 처인구 모현읍 갈담리',
       '경기도 용인시 처인구 모현읍 초부리', '경기도 용인시 처인구 모현읍 일산리',
       '경기도 용인시 처인구 모현읍 매산리', '경기도 용인시 처인구 모현읍 동림리',
       '경기도 용인시 처인구 모현읍 능원리', '경기도 용인시 처인구 모현읍 오산리',
       '경기도 용인시 처인구 이동읍 송전리', '경기도 용인시 처인구 이동읍 어비리',
       '경기도 용인시 처인구 이동읍 묘봉리', '경기도 용인시 처인구 이동읍 화산리',
       '경기도 용인시 처인구 이동읍 시미리', '경기도 용인시 처인구 이동읍 덕성리', '경기도 용인시 처인구 이동읍 묵리',
       '경기도 용인시 처인구 이동읍 천리', '경기도 용인시 처인구 이동읍 서리', '경기도 용인시 처인구 남사읍 봉무리',
       '경기도 용인시 처인구 남사읍 북리', '경기도 용인시 처인구 남사읍 통삼리', '경기도 용인시 처인구 남사읍 봉명리',
       '경기도 용인시 처인구 남사읍 진목리', '경기도 용인시 처인구 남사읍 원암리',
       '경기도 용인시 처인구 남사읍 전궁리', '경기도 용인시 처인구 남사읍 방아리', '경기도 용인시 처인구 남사읍 창리',
       '경기도 용인시 처인구 남사읍 아곡리', '경기도 용인시 처인구 남사읍 완장리',
       '경기도 용인시 처인구 남사면 봉무리', '경기도 용인시 처인구 남사면 북리', '경기도 용인시 처인구 남사면 통삼리',
       '경기도 용인시 처인구 남사면 봉명리', '경기도 용인시 처인구 남사면 진목리',
       '경기도 용인시 처인구 남사면 원암리', '경기도 용인시 처인구 남사면 전궁리',
       '경기도 용인시 처인구 남사면 방아리', '경기도 용인시 처인구 남사면 창리', '경기도 용인시 처인구 남사면 아곡리',
       '경기도 용인시 처인구 남사면 완장리', '경기도 용인시 처인구 원삼면 고당리',
       '경기도 용인시 처인구 원삼면 사암리', '경기도 용인시 처인구 원삼면 좌항리', '경기도 용인시 처인구 원삼면 맹리',
       '경기도 용인시 처인구 원삼면 미평리', '경기도 용인시 처인구 원삼면 두창리',
       '경기도 용인시 처인구 원삼면 독성리', '경기도 용인시 처인구 원삼면 죽능리',
       '경기도 용인시 처인구 원삼면 목신리', '경기도 용인시 처인구 원삼면 학일리',
       '경기도 용인시 처인구 원삼면 문촌리', '경기도 용인시 처인구 원삼면 가재월리',
       '경기도 용인시 처인구 백암면 백암리', '경기도 용인시 처인구 백암면 박곡리',
       '경기도 용인시 처인구 백암면 백봉리', '경기도 용인시 처인구 백암면 고안리',
       '경기도 용인시 처인구 백암면 장평리', '경기도 용인시 처인구 백암면 석천리',
       '경기도 용인시 처인구 백암면 용천리', '경기도 용인시 처인구 백암면 근삼리',
       '경기도 용인시 처인구 백암면 근창리', '경기도 용인시 처인구 백암면 근곡리',
       '경기도 용인시 처인구 백암면 가창리', '경기도 용인시 처인구 백암면 가좌리',
       '경기도 용인시 처인구 양지면 양지리', '경기도 용인시 처인구 양지면 남곡리',
       '경기도 용인시 처인구 양지면 평창리', '경기도 용인시 처인구 양지면 제일리',
       '경기도 용인시 처인구 양지면 추계리', '경기도 용인시 처인구 양지면 식금리',
       '경기도 용인시 처인구 양지면 정수리', '경기도 용인시 처인구 양지면 대대리',
       '경기도 용인시 처인구 양지면 주북리', '경기도 용인시 처인구 양지면 송문리', '경기도 용인시 기흥구 신갈동',
       '경기도 용인시 기흥구 구갈동', '경기도 용인시 기흥구 상갈동', '경기도 용인시 기흥구 하갈동',
       '경기도 용인시 기흥구 보라동', '경기도 용인시 기흥구 지곡동', '경기도 용인시 기흥구 공세동',
       '경기도 용인시 기흥구 고매동', '경기도 용인시 기흥구 농서동', '경기도 용인시 기흥구 서천동',
       '경기도 용인시 기흥구 영덕동', '경기도 용인시 기흥구 언남동', '경기도 용인시 기흥구 마북동',
       '경기도 용인시 기흥구 청덕동', '경기도 용인시 기흥구 동백동', '경기도 용인시 기흥구 중동',
       '경기도 용인시 기흥구 상하동', '경기도 용인시 기흥구 보정동', '경기도 용인시 수지구 풍덕천동',
       '경기도 용인시 수지구 죽전동', '경기도 용인시 수지구 동천동', '경기도 용인시 수지구 고기동',
       '경기도 용인시 수지구 신봉동', '경기도 용인시 수지구 성복동', '경기도 용인시 수지구 상현동'],
      dtype=object)

In [20]:
price_first = pd.read_table("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/공시지가_경기.txt",encoding='cp949',sep='|')
price_first = price_first.loc[price_first['COL_ADM_SECT_CD']==41460]
price_first

C:\Users\bhg\AppData\Local\Temp\ipykernel_12180\4234247507.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  price_first = pd.read_table("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/공시지가_경기.txt",encoding='cp949',sep='|')

,PNU,BASE_YEAR,STDMT,PNILP,PJJI_YN,PANN_YMD,ETC_CNTN,COL_ADM_SECT_CD
1532469,4146510400105930008,2022,1,319600,0,20220429,NaN,41460
1532470,4146510400105940005,2022,1,319600,0,20220429,NaN,41460
1532471,4146510400105950000,2022,1,683000,1,20220429,NaN,41460
1532472,4146510400105960001,2022,1,939400,0,20220429,NaN,41460
1532473,4146510400105960002,2022,1,553200,0,20220429,NaN,41460
...,...,...,...,...,...,...,...,...
1811602,4146311800104280000,2022,1,1139000,0,20220429,NaN,41460
1811603,4146311800104290001,2022,1,1996000,0,20220429,NaN,41460
1811604,4146311800104290004,2022,1,361300,0,20220429,NaN,41460
1811605,4146311800104290009,2022,1,1996000,0,20220429,NaN,41460
1811606,4146311800104290010,2022,1,465300,0,20220429,NaN,41460

In [19]:
print(len(set(price_first['PNU'].unique()) - set(price_youtube['고유번호'].unique())))
print(len(set(price_youtube['고유번호'].unique()) - set(price_first['PNU'].unique())))

213624
346449

### resident, activity_resident 차이 확인

In [48]:
a = activity_resident.loc[activity_resident['ccw_nm']=='용인시']
b = resident.copy()

In [15]:
aandb = pd.merge(a,b,how='inner',on=['base_dt','dow','cell_id','cell_xcrd','cell_ycrd','ccw_nm','adng_nm','gender','age','app_web','time_zone']) # 둘 다 포함된 데이터 
aorb = pd.merge(a,b,how='outer',on=['base_dt','dow','cell_id','cell_xcrd','cell_ycrd','ccw_nm','adng_nm','gender','age','app_web','time_zone'],indicator=True)

In [49]:
# aandb = pd.merge(a,b,how='inner',on=['cell_id','ccw_nm','adng_nm','cell_xcrd','cell_ycrd','base_dt','time_zone','dow'])
# aorb = pd.merge(a,b,how='outer',on=['cell_id','ccw_nm','adng_nm','cell_xcrd','cell_ycrd','base_dt','time_zone','dow'],indicator=True)

In [50]:
aandb.rename(columns={'count_cust_x':'ra_count_cust','count_cust_y':'r_count_cust'})

,base_dt,dow,mega_nm,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,time_zone,ra_count_cust,gender_y,age_y,app_web_y,r_count_cust
0,20220608,3,경기도,용인시,신갈동,84951117,127.110490,37.290226,FEMALE,13,EV라운지,3,6.664,FEMALE,13,EV라운지,6.664
1,20220607,2,경기도,용인시,신갈동,84887106,127.108270,37.283460,FEMALE,8,EV라운지,5,4.042,FEMALE,8,EV라운지,4.042
2,20220614,2,경기도,용인시,죽전2동,84967209,127.110840,37.332140,MALE,8,EV라운지,3,4.178,MALE,8,EV라운지,4.178
3,20220602,4,경기도,용인시,죽전1동,85063199,127.114235,37.330350,MALE,3,EV라운지,6,5.405,MALE,3,EV라운지,5.405
4,20220602,4,경기도,용인시,죽전1동,85063199,127.114235,37.330350,MALE,3,EV라운지,6,5.405,MALE,9,EV라운지,4.320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179169,20220613,1,경기도,용인시,신봉동,83703275,127.066284,37.326130,FEMALE,11,EV라운지,4,10.188,MALE,10,하이차저,3.819
179170,20220613,1,경기도,용인시,신봉동,83703275,127.066284,37.326130,FEMALE,11,EV라운지,4,10.188,FEMALE,11,EV라운지,10.188
179171,20220629,3,경기도,용인시,상갈동,84935061,127.110060,37.264534,MALE,4,EV라운지,1,3.985,MALE,4,EV라운지,3.985
179172,20220610,5,경기도,용인시,상하동,85750998,127.138840,37.259216,FEMALE,13,EV라운지,1,14.516,FEMALE,13,EV라운지,14.516
179173,20220626,7,경기도,용인시,영덕1동,84103141,127.080666,37.277054,MALE,8,EV라운지,1,5.986,MALE,8,EV라운지,17.958

In [51]:
aorb.rename(columns={'count_cust_x':'ra_count_cust','count_cust_y':'r_count_cust'})

,base_dt,dow,mega_nm,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,time_zone,ra_count_cust,gender_y,age_y,app_web_y,r_count_cust,_merge
0,20220611,6,경기도,용인시,모현읍,86695054,127.171880,37.311146,FEMALE,13.0,EV라운지,1,4.492,NaN,NaN,NaN,NaN,left_only
1,20220608,3,경기도,용인시,신갈동,84951117,127.110490,37.290226,FEMALE,13.0,EV라운지,3,6.664,FEMALE,13.0,EV라운지,6.664,both
2,20220608,3,경기도,용인시,보라동,85175019,127.118576,37.252396,MALE,12.0,EV라운지,6,4.129,NaN,NaN,NaN,NaN,left_only
3,20220607,2,경기도,용인시,신갈동,84887106,127.108270,37.283460,FEMALE,8.0,EV라운지,5,4.042,FEMALE,8.0,EV라운지,4.042,both
4,20220614,2,경기도,용인시,죽전2동,84967209,127.110840,37.332140,MALE,8.0,EV라운지,3,4.178,MALE,8.0,EV라운지,4.178,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416709,20220616,4,NaN,용인시,모현읍,89302948,127.263780,37.337055,NaN,NaN,NaN,5,NaN,MALE,11.0,EV라운지,3.247,right_only
416710,20220617,5,NaN,용인시,포곡읍,88566830,127.238070,37.263084,NaN,NaN,NaN,3,NaN,MALE,3.0,EV라운지,4.463,right_only
416711,20220610,5,NaN,용인시,기흥동,84679026,127.101160,37.241520,NaN,NaN,NaN,5,NaN,FEMALE,10.0,EV라운지,3.227,right_only
416712,20220605,7,NaN,용인시,상현1동,84071205,127.079384,37.304993,NaN,NaN,NaN,3,NaN,MALE,2.0,EV라운지,5.082,right_only
416713,20220618,6,NaN,용인시,양지면,89926672,127.286095,37.230280,NaN,NaN,NaN,6,NaN,MALE,9.0,EV라운지,3.071,right_only

In [52]:
aorb

,base_dt,dow,mega_nm,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,time_zone,count_cust_x,gender_y,age_y,app_web_y,count_cust_y,_merge
0,20220611,6,경기도,용인시,모현읍,86695054,127.171880,37.311146,FEMALE,13.0,EV라운지,1,4.492,NaN,NaN,NaN,NaN,left_only
1,20220608,3,경기도,용인시,신갈동,84951117,127.110490,37.290226,FEMALE,13.0,EV라운지,3,6.664,FEMALE,13.0,EV라운지,6.664,both
2,20220608,3,경기도,용인시,보라동,85175019,127.118576,37.252396,MALE,12.0,EV라운지,6,4.129,NaN,NaN,NaN,NaN,left_only
3,20220607,2,경기도,용인시,신갈동,84887106,127.108270,37.283460,FEMALE,8.0,EV라운지,5,4.042,FEMALE,8.0,EV라운지,4.042,both
4,20220614,2,경기도,용인시,죽전2동,84967209,127.110840,37.332140,MALE,8.0,EV라운지,3,4.178,MALE,8.0,EV라운지,4.178,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416709,20220616,4,NaN,용인시,모현읍,89302948,127.263780,37.337055,NaN,NaN,NaN,5,NaN,MALE,11.0,EV라운지,3.247,right_only
416710,20220617,5,NaN,용인시,포곡읍,88566830,127.238070,37.263084,NaN,NaN,NaN,3,NaN,MALE,3.0,EV라운지,4.463,right_only
416711,20220610,5,NaN,용인시,기흥동,84679026,127.101160,37.241520,NaN,NaN,NaN,5,NaN,FEMALE,10.0,EV라운지,3.227,right_only
416712,20220605,7,NaN,용인시,상현1동,84071205,127.079384,37.304993,NaN,NaN,NaN,3,NaN,MALE,2.0,EV라운지,5.082,right_only
416713,20220618,6,NaN,용인시,양지면,89926672,127.286095,37.230280,NaN,NaN,NaN,6,NaN,MALE,9.0,EV라운지,3.071,right_only

In [53]:
aorb.loc[aorb['_merge']=='left_only'].to_csv('test.csv',index=False)
# resident_activity에만 찍히는 것은 혹시 외곽으로, 중심점은 용인이지만 격자 자체는 다른 시에도 포함되어 있는 것이 아닐까? 했으나 그렇지 않음

In [54]:
aorb.loc[aorb['_merge']!='both'].sort_values(by='cell_id')

,base_dt,dow,mega_nm,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,time_zone,count_cust_x,gender_y,age_y,app_web_y,count_cust_y,_merge
111504,20220629,3,경기도,용인시,동천동,82695419,127.03050,37.362500,MALE,12.0,EV라운지,5,5.684,NaN,NaN,NaN,NaN,left_only
248735,20220601,3,경기도,용인시,동천동,82695419,127.03050,37.362500,MALE,12.0,EV라운지,4,5.684,NaN,NaN,NaN,NaN,left_only
40348,20220601,3,경기도,용인시,동천동,82695419,127.03050,37.362500,MALE,12.0,EV라운지,2,5.684,NaN,NaN,NaN,NaN,left_only
200965,20220628,2,경기도,용인시,동천동,82695419,127.03050,37.362500,MALE,12.0,EV라운지,5,5.684,NaN,NaN,NaN,NaN,left_only
241662,20220614,2,경기도,용인시,동천동,82695419,127.03050,37.362500,MALE,12.0,EV라운지,2,5.684,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94211,20220601,3,경기도,용인시,백암면,93782248,127.42202,37.147970,MALE,8.0,EV Infra,2,4.078,NaN,NaN,NaN,NaN,left_only
132454,20220603,5,경기도,용인시,백암면,93782250,127.42202,37.148870,FEMALE,12.0,EV라운지,3,6.577,NaN,NaN,NaN,NaN,left_only
354771,20220616,4,NaN,용인시,백암면,93830213,127.42372,37.133545,NaN,NaN,NaN,5,NaN,FEMALE,12.0,EV라운지,5.022,right_only
355015,20220623,4,NaN,용인시,백암면,93830213,127.42372,37.133545,NaN,NaN,NaN,3,NaN,FEMALE,12.0,EV라운지,5.022,right_only
347850,20220607,2,NaN,용인시,백암면,93830213,127.42372,37.133545,NaN,NaN,NaN,6,NaN,FEMALE,12.0,EV라운지,5.022,right_only

In [55]:
aorb.loc[aorb['cell_id']==93782250]
# .sort_values(by='base_dt')
# .to_csv('test.csv',index=False)

,base_dt,dow,mega_nm,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,time_zone,count_cust_x,gender_y,age_y,app_web_y,count_cust_y,_merge
132454,20220603,5,경기도,용인시,백암면,93782250,127.42202,37.14887,FEMALE,12.0,EV라운지,3,6.577,NaN,NaN,NaN,NaN,left_only

In [56]:
ls = set(aorb.loc[aorb['_merge']=='left_only']['cell_id']) 
rs = set(aorb.loc[aorb['_merge']=='right_only']['cell_id'])
ls & rs
# 몇몇 cell은 하나의 데이터에만 속해있는 경우 있어 확인해봤더니 cell에 따라 나뉘는 것도 아님

{85975047,
 84951057,
 84951061,
 88023062,
 84951063,
 88023067,
 84615198,
 83927079,
 87670825,
 84951082,
 84615211,
 84951085,
 84615214,
 84615218,
 84615219,
 86999096,
 84615232,
 84615233,
 84615237,
 86310988,
 86310991,
 84615251,
 83591254,
 86310998,
 86311000,
 86311007,
 86311010,
 86311011,
 83591268,
 83927140,
 83591270,
 84951141,
 86311017,
 86311018,
 83591275,
 84951147,
 86646894,
 86646895,
 84951150,
 84951153,
 84951156,
 84951168,
 88006785,
 84951183,
 85287055,
 84951187,
 88006804,
 83927194,
 83927195,
 84951195,
 83927197,
 85287068,
 85287069,
 83927206,
 83927207,
 83927210,
 84951210,
 84951214,
 83927215,
 85622962,
 83927219,
 83591353,
 83927227,
 85287102,
 85287107,
 83927245,
 85287118,
 83927256,
 88006874,
 83927263,
 83927270,
 83927271,
 88006886,
 85287176,
 85287177,
 85287185,
 88342803,
 84263189,
 85287197,
 88342817,
 84263201,
 84263205,
 84263209,
 84263214,
 84263215,
 89030960,
 84263216,
 88342835,
 84263224,
 84263226,
 86630714,
 84263228,
 87318843,
 84263230,
 84599101,
 87318852,
 87318854,
 84934984,
 84934995,
 84263260,
 84935005,
 85959007,
 84935027,
 85959036,
 84599167,
 85959041,
 85959044,
 85959048,
 84599176,
 90038668,
 84599182,
 85959064,
 90038683,
 83911073,
 84599202,
 84599205,
 84599206,
 86966696,
 87654825,
 84935082,
 84935083,
 84935084,
 85270954,
 84599213,
 84599217,
 87654834,
 84935092,
 84935096,
 89014720,
 86983106,
 86983107,
 86294980,
 84935109,
 84599238,
 86294983,
 84935114,
 86294986,
 84935118,
 84599247,
 84599248,
 90710482,
 83575261,
 85271008,
 84935139,
 83575267,
 83575272,
 83911144,
 84935146,
 83575274,
 85959149,
 84935150,
 84247023,
 84935152,
 84247024,
 87654897,
 85271027,
 86630898,
 86630899,
 83911156,
 83911158,
 86630904,
 83911160,
 84935169,
 84935172,
 88343055,
 84935184,
 84935195,
 83911197,
 83911204,
 83911206,
 84247079,
 83911207,
 83911209,
 87990826,
 83911211,
 83911215,
 84935217,
 87990839,
 85606967,
 88678969,
 85271104,
 83911235,
 85271114,
 83911246,
 84247120,
 84247127,
 89350743,
 83911260,
 85271135,
 87990879,
 83911272,
 85607031,
 87990905,
 89014944,
 84247207,
 84247208,
 84247209,
 87638699,
 84583085,
 87302833,
 84247218,
 84583099,
 87302846,
 87302849,
 87302854,
 84247239,
 87302856,
 84583113,
 84918988,
 84918989,
 87302862,
 85607120,
 84247249,
 84247250,
 87302866,
 84247252,
 84918999,
 84247263,
 84247268,
 84919022,
 90358514,
 84247290,
 84919037,
 84919038,
 85943038,
 85943041,
 84583200,
 84583210,
 87638826,
 84583212,
 84919084,
 84583216,
 87638833,
 86278976,
 84583236,
 84583237,
 84583238,
 84919116,
 84583247,
 86278992,
 84583248,
 86278994,
 86278995,
 90694483,
 86278997,
 84583253,
 85254996,
 86279004,
 86279005,
 83895134,
 86279011,
 86279014,
 85255016,
 86279019,
 83559278,
 84919151,
 83895153,
 84919153,
 84919158,
 84919167,
 83559312,
 84919185,
 84919187,
 85255059,
 85255060,
 87974808,
 84919198,
 85255073,
 84231080,
 83895209,
 84919211,
 87974830,
 84919220,
 85255096,
 83895234,
 85255107,
 83895243,
 85255116,
 83895247,
 87974863,
 83895249,
 83895259,
 87974882,
 83895268,
 83895270,
 84231150,
 85255168,
 87974914,
 85255173,
 85255174,
 85255177,
 85591052,
 85255187,
 85255188,
 84231192,
 88310809,
 84231193,
 85255192,
 85255193,
 84231198,
 84231202,
 84231208,
 84231209,
 84567083,
 84567085,
 84567086,
 84231216,
 84231217,
 84231218,
 84231221,
 84231227,
 87286843,
 87286850,
 88310853,
 84567109,
 87286854,
 87286856,
 88310857,
 88998986,
 88998989,
 87622738,
 85927009,
 84903019,
 87286894,
 85927028,
 85927029,
 84903037,
 84903040,
 85591173,
 85927049,
 85927053,
 91030673,
 84567192,
 86934682,
 90006684,
 84903069,
 84903074,
 84567202,
 84567203,
 83879077,
 83879083,
 84903084,
 87622828,
 84903085,
 84567212,
 84567214,
 84567216,
 84567222,
 84567223,
 84903097,
 84567228,
 84903102,
 84567233,
 84567234,
 84567237,
 84903115,
 84567246,
 84567247,
 84567250,
 86262995,
 85238996,
 84567251,
 84567256,
 86263001,
 86263005,
 84903143,
 86263016,
 84903146,
 86263018,
 86263019,
 83879146,
 86263022,
 83879148,
 83879151,
 84903156,
 85239031,
 84903161,
 87958791,
 86263052,
 88646926,
 87958807,
 84903198,
 89318689,
 85239074,
 83879201,
 85239079,
 83879215,
 84903219,
 85239093,
 83879221,
 83879224,
 86246714,
 83879226,
 83879248,
 83879250,
 87958870,
 84215127,
 87958871,
 86934875,
 86599008,
 83879264,
 83879273,
 83879274,
 85575034,
 87958912,
 85239173,
 87958920,
 85575053,
 85239192,
 84215194,
 88294812,
 88294816,
 84215201,
 84215209,
 84215214,
 84215219,
 84215221,
 84215223,
 87270850,
 87270859,
 88294872,
 88294873,
 85911002,
 88294883,
 84887015,
 84887020,
 85911029,
 84551170,
 85911042,
 84551174,
 84551180,
 89990675,
 89990676,
 86918683,
 84551203,
 84551206,
 84551207,
 84887080,
 84887081,
 83863082,
 84887085,
 84551215,
 84887087,
 84887088,
 84887090,
 85222959,
 84887092,
 84887095,
 84551224,
 84551228,
 87606845,
 84551234,
 84551235,
 86935110,
 86246984,
 84551241,
 84887114,
 84551244,
 86246990,
 86246991,
 84551247,
 86246994,
 84551250,
 84551255,
 86247001,
 84551259,
 85223007,
 86247009,
 84199009,
 83527269,
 86247014,
 84887141,
 84887143,
 85223013,
 84887146,
 83527278,
 83863152,
 84887155,
 84887157,
 86582902,
 83863158,
 85223032,
 84887178,
 86582926,
 85223062,
 85223063,
 84887194,
 86582942,
 84887199,
 87942818,
 85223076,
 87942820,
 84887207,
 85223080,
 83863219,
 84887219,
 85223095,
 83863224,
 85223097,
 86918846,
 85223108,
 83863244,
 83863245,
 89302735,
 83863248,
 87942863,
 83863250,
 85223128,
 87942873,
 83863260,
 83863261,
 86918876,
 86918877,
 87942876,
 87942877,
 86583010,
 86918882,
 86918888,
 85559035,
 85223172,
 87942919,
 85223180,
 85223188,
 84199193,
 84199197,
 84199198,
 84199199,
 84199201,
 84199202,
 84199205,
 84199207,
 84199213,
 84199214,
 84199215,
 88966963,
 84199219,
 84535094,
 84199227,
 92694332,
 84199231,
 84535103,
 87254853,
 87590727,
 84870985,
 84199241,
 84199242,
 87590732,
 87254857,
 88966992,
 85894998,
 85894999,
 85895009,
 88278883,
 84871013,
 84871018,
 85895030,
 84871034,
 85559162,
 85559167,
 85895040,
 85895044,
 84871046,
 85559176,
 83847056,
 89974680,
 84871068,
 89974687,
 84871075,
 84535204,
 87590825,
 84871082,
 84535209,
 84871084,
 84535210,
 84535213,
 84535214,
 83847086,
 83847085,
 84535217,
 84535222,
 84535224,
 84535228,
 84535229,
 84535237,
 86230982,
 86230984,
 84535241,
 86230988,
 87926734,
 86230992,
 86230994,
 86230995,
 85206996,
 84535250,
 84535255,
 85207008,
 86231009,
 85207010,
 86231012,
 85207013,
 86231013,
 85207018,
 86231020,
 84183023,
 86231023,
 84871153,
 86231025,
 83847154,
 84871156,
 86231029,
 86231031,
 86566903,
 85207033,
 83511289,
 87926805,
 85207063,
 87926807,
 84871196,
 86566941,
 84183083,
 84183084,
 85207097,
 83847232,
 85207108,
 83847243,
 84518988,
 83847247,
 87926865,
 85207124,
 86566999,
 84183128,
 86567004,
 87926879,
 83847263,
 83847264,
 83847267,
 83847271,
 86902890,
 86902891,
 85543047,
 85207177,
 85207180,
 85207185,
 84183198,
 84519070,
 88950945,
 84183205,
 88262821,
 85543080,
 84183213,
 84519087,
 84183222,
 84519094,
 85543099,
 84183232,
 88262853,
 84183238,
 87238854,
 84183245,
 88262862,
 87238865,
 88262865,
 88262869,
 85543132,
 84855026,
 84519168,
 85879042,
 85543175,
 84855051,
 84855053,
 83831054,
 84519185,
 84855058,
 84855061,
 84855069,
 84855073,
 84855074,
 84519203,
 83831076,
 84855075,
 87574821,
 87574823,
 84519208,
 84519209,
 87574828,
 83831087,
 84519217,
 87574838,
 84519224,
 84855097,
 84519226,
 86886713,
 84519229,
 84855103,
 84519232,
 87910724,
 86214988,
 86214990,
 86214991,
 86214998,
 86886744,
 86215004,
 86215006,
 85191008,
 86215012,
 83495270,
 83831142,
 85191015,
 86215023,
 84855153,
 83495283,
 84855158,
 86215037,
 87910781,
 86550919,
 85191050,
 87910796,
 83495313,
 87910806,
 85191065,
 85191066,
 87910809,
 87910810,
 87910811,
 85191070,
 86550943,
 83831200,
 84855199,
 83495330,
 84855200,
 84855202,
 87910820,
 85191078,
 85191081,
 84855213,
 84167086,
 83831215,
 84855217,
 84855223,
 84855225,
 84855226,
 85191097,
 85191098,
 85191107,
 84502987,
 87910860,
 84502989,
 87910862,
 83831247,
 87910863,
 85191122,
 85191123,
 84167129,
 86886877,
 83831262,
 83831265,
 83831269,
 87910885,
 83831271,
 87910886,
 92326377,
 83831276,
 83831279,
 87910900,
 85527037,
 85191168,
 86551044,
 85191173,
 85191179,
 87910925,
 85527059,
 87910935,
 84167192,
 84167201,
 84167204,
 85527082,
 88246829,
 84167215,
 84167222,
 84167223,
 84503094,
 84167225,
 84167226,
 84503095,
 85527100,
 84503102,
 88934975,
 84167237,
 87222854,
 87222856,
 85862987,
 84167247,
 87222865,
 85863006,
 85863030,
 84839033,
 84839041,
 84839042,
 85527174,
 89942671,
 89942672,
 85863057,
 84839063,
 89942686,
 84839071,
 84503205,
 84503224,
 84503227,
 84839100,
 84503234,
 84503235,
 86198980,
 84839109,
 84503238,
 84839111,
 84839112,
 84503244,
 84503246,
 86198992,
 86198995,
 85174996,
 86198998,
 86199009,
 86199012,
 88582885,
 88582886,
 85175019,
 86199022,
 86199025,
 86199027,
 85175036,
 83479303,
 86199053,
 87894798,
 87894807,
 87894811,
 85175068,
 84839200,
 83815204,
 83815205,
 85175080,
 86534957,
 84839214,
 85175102,
 85175108,
 83815241,
 87894861,
 83815248,
 87894865,
 85175125,
 85175126,
 86535000,
 86535002,
 85175131,
 87894877,
 83815267,
 86870887,
 83815275,
 87894895,
 87894898,
 85511040,
 85175174,
 85175175,
 85511046,
 85175177,
 85511048,
 85511050,
 85511053,
 85175182,
 85175183,
 84151193,
 89590685,
 84151200,
 84487072,
 84151202,
 84151209,
 88918954,
 84151211,
 88230827,
 88230831,
 84151217,
 88918961,
 84487092,
 85846965,
 84151222,
 85511098,
 87206843,
 85511100,
 84151229,
 85511101,
 84151231,
 84151234,
 87206850,
 85846978,
 88918981,
 87206855,
 88230855,
 85846984,
 87206858,
 84151243,
 85846989,
 88918990,
 84151252,
 85847001,
 85847002,
 85847011,
 87206884,
 87206906,
 85847044,
 85511175,
 84823048,
 89926673,
 89926674,
 84487188,
 85847062,
 84823068,
 92982304,
 84487202,
 84823076,
 84487205,
 86854694,
 85158952,
 84823083,
 84487213,
 84487214,
 83799090,
 84487219,
 84823091,
 84487221,
 84823092,
 84823094,
 84823093,
 84487226,
 84823099,
 84823100,
 84487230,
 85158975,
 85158976,
 84823105,
 86182982,
 84487239,
 86871112,
 86182985,
 86871114,
 86182987,
 84487246,
 86182993,
 86182995,
 84487256,
 84487268,
 86166631,
 86183025,
 86183032,
 83799160,
 84823160,
 83799163,
 90262649,
 84823164,
 86518919,
 87878802,
 85159064,
 87878809,
 87878811,
 85159068,
 85159069,
 85159070,
 84823199,
 86518945,
 83799202,
 85159074,
 83799204,
 84823205,
 84823206,
 83799207,
 85159075,
 85159076,
 85159077,
 85159083,
 84823215,
 83799216,
 89238705,
 84823221,
 84823222,
 84823223,
 85159098,
 86854843,
 85159102,
 85159103,
 85159115,
 87878861,
 87878862,
 85159120,
 86518994,
 83799253,
 87878870,
 87878871,
 86519000,
 83799257,
 85159128,
 83799259,
 ...}

### 도로명주소,단지 정보 결합

In [184]:
road_address = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/road_address.csv",encoding='cp949')
road_address.fillna(1,inplace=True)
# merge시 nan끼리 결합되지 않도록
merged_address = pd.merge(merged2_y,road_address,on=['cell_id','cell_xcrd','cell_ycrd'])
# merged2_y는 용인만, road_address는 전체 격자
# 각자 18000여개, 26000여개

In [185]:
merged_address.info()
# 약 21만 행 결합

<class 'pandas.core.frame.DataFrame'>
Int64Index: 630228 entries, 0 to 630227
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   base_dt       630228 non-null  int64
 1   dow           630228 non-null  int64
 2   ccw_nm        630228 non-null  object
 3   adng_nm       630228 non-null  object
 4   cell_id       630228 non-null  int64
 5   cell_xcrd     630228 non-null  float64
 6   cell_ycrd     630228 non-null  float64
 7   gender_x      478809 non-null  object
 8   age_x         478809 non-null  float64
 9   app_web_x     478809 non-null  object
 10  time_zone     630228 non-null  int64
 11  count_cust_x  478809 non-null  float64
 12  gender_y      475877 non-null  object
 13  age_y         475877 non-null  float64
 14  app_web_y     475877 non-null  object
 15  count_cust_y  475877 non-null  float64
 16  gender        414271 non-null  object
 17  age           414271 non-null  float64
 18  app_web       414271 non-null  object
 19  count_cust    414271 non-null  float64
 20  Address       630228 non-null  object
dtypes: float64(8), int64(4), object(9)
memory usage: 105.8+ MB

In [88]:
# merged_address.to_csv('merged_address.csv',encoding='cp949')

In [186]:
housing = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/용인시_단지기본정보_220901.csv")
housing = housing[['단지명','단지분류','법정동주소', '도로명주소','세대수','총주차대수', '지상주차대수', '지하주차대수']]
housing
# 단지 468개

,단지명,단지분류,법정동주소,도로명주소,세대수,총주차대수,지상주차대수,지하주차대수
0,역북신원아침도시아파트,아파트,경기도 용인처인구 역북동 795 역북신원아침도시아파트,경기도 용인시 처인구 낙은로 11,452,490,0,490
1,양지포레스토리,연립주택,경기도 용인처인구 양지면 남곡리 898 양지포레스토리,경기도 용인시 처인구 은이로 85,174,185,185,0
2,양우내안애에듀퍼스트,아파트,경기도 용인처인구 고림동 1014 양우내안애에듀퍼스트,경기도 용인시 처인구 경안천로 196-1,"1,098","1,217",8,1209
3,힉스유타워 아파트,아파트,경기도 용인기흥구 영덕동 1315 힉스유타워 아파트,경기도 용인시 기흥구 중부대로 184,230,265,0,265
4,성복역 KCC스위첸,아파트,경기도 용인수지구 성복동 167 성복역 KCC스위첸,경기도 용인시 수지구 성복1로 62,188,212,18,194
...,...,...,...,...,...,...,...,...
463,죽전7차현대홈타운1단지,아파트,경기도 용인수지구 죽전동 1151 죽전7차현대홈타운1단지,NaN,162,178,61,117
464,기흥더샵프라임뷰,아파트,경기도 용인기흥구 신갈동 733 기흥더샵프라임뷰,NaN,612,775,0,775
465,기흥역롯데캐슬스카이,주상복합,경기도 용인기흥구 신갈동 63 기흥역롯데캐슬스카이,NaN,625,797,0,797
466,힐스테이트 서천 아파트,아파트,경기도 용인기흥구 서천동 801 힐스테이트 서천 아파트,NaN,754,912,4,908
467,역북2단지 우남퍼스트빌아파트,아파트,경기도 용인처인구 역북동 282 역북2단지 우남퍼스트빌아파트,NaN,505,532,73,459

In [197]:
grid_housing = pd.merge(road_address,housing, how='outer',left_on = 'Address',right_on='도로명주소')
grid_housing

,cell_id,cell_xcrd,cell_ycrd,Address,단지명,단지분류,법정동주소,도로명주소,세대수,총주차대수,지상주차대수,지하주차대수
0,86135034.0,127.152250,37.286300,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,아파트,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0
1,86119036.0,127.151690,37.286750,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,아파트,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0
2,86119035.0,127.151690,37.286297,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,아파트,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0
3,86103037.0,127.151120,37.286747,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,아파트,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0
4,86103038.0,127.151115,37.287197,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,아파트,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0
...,...,...,...,...,...,...,...,...,...,...,...,...
26761,NaN,NaN,NaN,NaN,죽전7차현대홈타운1단지,아파트,경기도 용인수지구 죽전동 1151 죽전7차현대홈타운1단지,NaN,162,178,61.0,117.0
26762,NaN,NaN,NaN,NaN,기흥더샵프라임뷰,아파트,경기도 용인기흥구 신갈동 733 기흥더샵프라임뷰,NaN,612,775,0.0,775.0
26763,NaN,NaN,NaN,NaN,기흥역롯데캐슬스카이,주상복합,경기도 용인기흥구 신갈동 63 기흥역롯데캐슬스카이,NaN,625,797,0.0,797.0
26764,NaN,NaN,NaN,NaN,힐스테이트 서천 아파트,아파트,경기도 용인기흥구 서천동 801 힐스테이트 서천 아파트,NaN,754,912,4.0,908.0
26765,NaN,NaN,NaN,NaN,역북2단지 우남퍼스트빌아파트,아파트,경기도 용인처인구 역북동 282 역북2단지 우남퍼스트빌아파트,NaN,505,532,73.0,459.0

In [199]:
grid_housing.info()
# 3786행 단지로 구분

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26766 entries, 0 to 26765
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cell_id    26715 non-null  float64
 1   cell_xcrd  26715 non-null  float64
 2   cell_ycrd  26715 non-null  float64
 3   Address    26715 non-null  object
 4   단지명        3786 non-null   object
 5   단지분류       3785 non-null   object
 6   법정동주소      3786 non-null   object
 7   도로명주소      3768 non-null   object
 8   세대수        3786 non-null   object
 9   총주차대수      3786 non-null   object
 10  지상주차대수     3786 non-null   float64
 11  지하주차대수     3786 non-null   float64
dtypes: float64(5), object(7)
memory usage: 2.7+ MB

In [200]:
grid_housing.to_csv('grid_housing.csv',encoding='cp949')

In [42]:
merged2_y

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,...,count_cust_x,gender_y,age_y,app_web_y,count_cust_y,mega_nm,gender,age,app_web,count_cust
0,20220605,7,용인시,동백1동,86135034,127.15225,37.286300,MALE,6.0,EV라운지,...,3.522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8.0,파워큐브차저,...,4.231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8.0,하이차저,...,8.462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20220614,2,용인시,포곡읍,87958893,127.21660,37.274303,FEMALE,14.0,EV라운지,...,18.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20220619,7,용인시,신봉동,84119243,127.08097,37.323480,MALE,13.0,EV라운지,...,4.335,MALE,13.0,EV라운지,4.335,경기도,MALE,13.0,EV라운지,4.335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630223,20220620,1,용인시,양지면,90182654,127.29511,37.229393,NaN,NaN,NaN,...,NaN,FEMALE,4.0,EV라운지,3.274,경기도,FEMALE,4.0,EV라운지,3.274
630224,20220608,3,용인시,남사읍,85878686,127.14400,37.122220,NaN,NaN,NaN,...,NaN,MALE,9.0,EV라운지,4.140,NaN,NaN,NaN,NaN,NaN
630225,20220628,2,용인시,성복동,83687264,127.06575,37.320717,NaN,NaN,NaN,...,NaN,FEMALE,8.0,EV라운지,5.266,NaN,NaN,NaN,NaN,NaN
630226,20220628,2,용인시,신봉동,84103247,127.08040,37.324825,NaN,NaN,NaN,...,NaN,MALE,3.0,EV라운지,21.564,NaN,NaN,NaN,NaN,NaN
630227,20220626,7,용인시,신갈동,84375154,127.09018,37.290607,NaN,NaN,NaN,...,NaN,MALE,12.0,EV라운지,3.502,경기도,MALE,12.0,EV라운지,3.502

In [58]:
housing_df = pd.merge(merged2_y, grid_housing.loc[grid_housing['_merge']=='both'],on=['cell_id','cell_xcrd','cell_ycrd'],how='left')

In [61]:
housing_df.isnull().sum()

base_dt               0
dow                   0
ccw_nm                0
adng_nm               0
cell_id               0
cell_xcrd             0
cell_ycrd             0
gender_x        1412530
age_x           1412530
app_web_x       1412530
time_zone             0
count_cust_x    1412530
gender_y        1182681
age_y           1182681
app_web_y       1182681
count_cust_y    1182681
mega_nm         1777458
gender          1777458
age             1777458
app_web         1777458
count_cust      1777458
Address         3514573
단지명              148879
법정동주소            148879
도로명주소           3514573
세대수              148879
총주차대수            148879
지상주차대수           148879
지하주차대수           148879
_merge           148879
dtype: int64

In [55]:
merged2_y

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,...,count_cust_x,gender_y,age_y,app_web_y,count_cust_y,mega_nm,gender,age,app_web,count_cust
0,20220605,7,용인시,동백1동,86135034,127.15225,37.286300,MALE,6.0,EV라운지,...,3.522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8.0,파워큐브차저,...,4.231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220625,6,용인시,상현2동,84375196,127.09008,37.309536,MALE,8.0,하이차저,...,8.462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20220614,2,용인시,포곡읍,87958893,127.21660,37.274303,FEMALE,14.0,EV라운지,...,18.440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20220619,7,용인시,신봉동,84119243,127.08097,37.323480,MALE,13.0,EV라운지,...,4.335,MALE,13.0,EV라운지,4.335,경기도,MALE,13.0,EV라운지,4.335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630223,20220620,1,용인시,양지면,90182654,127.29511,37.229393,NaN,NaN,NaN,...,NaN,FEMALE,4.0,EV라운지,3.274,경기도,FEMALE,4.0,EV라운지,3.274
630224,20220608,3,용인시,남사읍,85878686,127.14400,37.122220,NaN,NaN,NaN,...,NaN,MALE,9.0,EV라운지,4.140,NaN,NaN,NaN,NaN,NaN
630225,20220628,2,용인시,성복동,83687264,127.06575,37.320717,NaN,NaN,NaN,...,NaN,FEMALE,8.0,EV라운지,5.266,NaN,NaN,NaN,NaN,NaN
630226,20220628,2,용인시,신봉동,84103247,127.08040,37.324825,NaN,NaN,NaN,...,NaN,MALE,3.0,EV라운지,21.564,NaN,NaN,NaN,NaN,NaN
630227,20220626,7,용인시,신갈동,84375154,127.09018,37.290607,NaN,NaN,NaN,...,NaN,MALE,12.0,EV라운지,3.502,경기도,MALE,12.0,EV라운지,3.502

In [52]:
housing_df

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender_x,age_x,app_web_x,...,count_cust,Address,단지명,법정동주소,도로명주소,세대수,총주차대수,지상주차대수,지하주차대수,_merge
0,20220605,7,용인시,동백1동,86135034,127.15225,37.286300,MALE,6.0,EV라운지,...,NaN,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0,both
1,20220613,1,용인시,동백1동,86135034,127.15225,37.286300,MALE,6.0,EV라운지,...,NaN,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0,both
2,20220611,6,용인시,동백1동,86135034,127.15225,37.286300,MALE,6.0,EV라운지,...,3.456,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0,both
3,20220611,6,용인시,동백1동,86135034,127.15225,37.286300,MALE,4.0,EV라운지,...,3.456,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0,both
4,20220619,7,용인시,동백1동,86135034,127.15225,37.286300,MALE,4.0,EV라운지,...,6.912,경기도 용인시 기흥구 동백8로 9,호수마을자연앤데시앙,경기도 용인기흥구 동백동 572 호수마을자연앤데시앙,경기도 용인시 기흥구 동백8로 9,432,486,188.0,298.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3660055,20220619,7,용인시,서농동,83863058,127.07246,37.232857,NaN,NaN,NaN,...,NaN,NaN,죽전7차현대홈타운1단지,경기도 용인수지구 죽전동 1151 죽전7차현대홈타운1단지,NaN,162,178,61.0,117.0,both
3660056,20220619,7,용인시,서농동,83863058,127.07246,37.232857,NaN,NaN,NaN,...,NaN,NaN,기흥더샵프라임뷰,경기도 용인기흥구 신갈동 733 기흥더샵프라임뷰,NaN,612,775,0.0,775.0,both
3660057,20220619,7,용인시,서농동,83863058,127.07246,37.232857,NaN,NaN,NaN,...,NaN,NaN,기흥역롯데캐슬스카이,경기도 용인기흥구 신갈동 63 기흥역롯데캐슬스카이,NaN,625,797,0.0,797.0,both
3660058,20220619,7,용인시,서농동,83863058,127.07246,37.232857,NaN,NaN,NaN,...,NaN,NaN,힐스테이트 서천 아파트,경기도 용인기흥구 서천동 801 힐스테이트 서천 아파트,NaN,754,912,4.0,908.0,both
3660059,20220619,7,용인시,서농동,83863058,127.07246,37.232857,NaN,NaN,NaN,...,NaN,NaN,역북2단지 우남퍼스트빌아파트,경기도 용인처인구 역북동 282 역북2단지 우남퍼스트빌아파트,NaN,505,532,73.0,459.0,both

In [53]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3660060 entries, 0 to 3660059
Data columns (total 30 columns):
 #   Column        Dtype
---  ------        -----
 0   base_dt       int64
 1   dow           int64
 2   ccw_nm        object
 3   adng_nm       object
 4   cell_id       int64
 5   cell_xcrd     float64
 6   cell_ycrd     float64
 7   gender_x      object
 8   age_x         float64
 9   app_web_x     object
 10  time_zone     int64
 11  count_cust_x  float64
 12  gender_y      object
 13  age_y         float64
 14  app_web_y     object
 15  count_cust_y  float64
 16  mega_nm       object
 17  gender        object
 18  age           float64
 19  app_web       object
 20  count_cust    float64
 21  Address       object
 22  단지명           object
 23  법정동주소         object
 24  도로명주소         object
 25  세대수           object
 26  총주차대수         object
 27  지상주차대수        float64
 28  지하주차대수        float64
 29  _merge        category
dtypes: category(1), float64(10), int64(4), object(15)
memory usage: 841.2+ MB

### 도로명주소, 상권 결합

In [38]:
golmok = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/골목상권현황.csv",encoding='cp949')
baldal = pd.read_csv("C:/Users/bhg/Desktop/2022빅콘/조사 데이터/발달상권현황.csv",encoding='cp949')

In [39]:
grid_com = grid_housing.loc[grid_housing['_merge']=='left_only'] # 찾은 도로명 주소가 단지와 연결되지 않는게 약 9000행
grid_com = grid_com[['cell_id','cell_xcrd','cell_ycrd']]

In [40]:
grid_com.to_csv('grid_com.csv')